<h1><%= @chat.title %></h1>

<div id="messages" data-chat-room-id="<%= @chat.id %>">
  <%= render @chat.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>

<!-- list for property listing -->
<!-- <div class="list-group">
  <a href="#" class="list-group-item">
    King's landing
  </a>
  <a href="#" class="list-group-item">Winterfell</a>
  <a href="#" class="list-group-item">The Wall</a>
  <a href="#" class="list-group-item">Meereen</a>
  <a href="#" class="list-group-item">Dorne</a>
</div> -->



<!-- <form class="new_message" id="new_message" action="#" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"> -->
  <!-- <input type="hidden" name="authenticity_token" value="i1u0AKYsjndWyYZMCUDkUom0vgdmTpc2IoXlCeX0LXv29klxJovXdM5nsLo6isCwtk5Gvv1tyLxadXYl4pmG8g=="> -->
<!--   <div class="form-group">
    <label for="message_body">Body</label>
    <textarea class="form-control" name="message[body]" id="message_body"></textarea>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <input type="submit" name="commit" value="Post" class="btn btn-primary btn-lg" data-disable-with="Post">
</form> -->